/* Footer */
.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #4B4634;
    background-color: #F1DFD1;
    padding: 1rem 0; 
    width: 100%; 
    position: relative;
    bottom: 0;
}

@media (max-width: 768px) {
    .footer {
        padding: 1rem; /* Adjust padding for smaller screens */
    } 
}