.projects-container {
  padding: 40px 80px;
  background-color: #f9f9f9;
  text-align: left;
  overflow: hidden;
}

.projects-container h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.projects-slider {
  width: 80%;
}

.project-card {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
}

.project-card h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #4B4634;
}

.project-card p {
  font-size: 1em;
  color: #807674;
  margin: 0;
}

.project-card .tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card .tag {
  background: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.slick-dots li button:before {
  color: #807674;
}

.slick-dots li.slick-active button:before {
  color: #5A5541;
}

.slick-arrow {
  background-color: #5A5541 !important;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.slick-arrow:hover {
  background-color: #807674 !important;
}

