/* General Navbar Styling */
.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/* Logo Styling */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
    padding: 0;
}

.navbar-logo img:hover {
    opacity: 0.7;
}

/* Navigation Links Container */
.navbar-links {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.navbar-links button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #615A54;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links button:hover {
    color: #958b89;
    text-decoration: underline;
}

/* Social Icons */
.navbar-icons a {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #615A54;
    transition: color 0.3s ease;
}

.navbar-icons a:hover {
    color: #958b89;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-container {
        justify-content: center; /* Center the logo on small screens */
    }

    .navbar-links {
        display: none; 
    }

    .navbar-icons {
        display: none; 
    }

    .navbar-logo {
        margin: 0 auto; /* Center the logo */
    }
}